.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cbe9ff;
  position: relative;
  padding: 100px 0 150px 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  line-height: 3rem;
}
